.container {
    width: 100%;
    margin: 0 auto;
    /* height: 300px; */
}


/* --------------------------- Header Section */

.header {
    background-image: url('../images/hero_image.png');
    background-size: 100% 657px;
    height: 657px;
    background-repeat: no-repeat;
    /* width: 1920px; */
}

.header_content {
    height: 96px;
    /* width: 1759px; */
    margin-left: 78px;
    margin-right: 83px;
}

.header_content .logo {
    height: 96px;
    width: 124px;
    float: left;
    margin-top: 20px;
}


/* navigation */

.navigation-div {
    /* margin-left: 867px; */
    margin-left: 400px;
}

nav ul li {
    display: inline-block;
    margin-right: 128px;
    margin-top: 43px;
    font: normal normal normal 22px/27px Montserrat;
    text-align: center;
    color: #FFFFFF;
}


/* Say Hello btn  */

.say-hello {
    background-color: #FFFFFF;
    width: 199px;
    height: 54px;
    margin-left: 83px;
    color: #3693D6;
    font: normal normal normal 22px/27px Montserrat;
    border-radius: 34px;
    margin-top: 10px;
    border: 2px solid #FFFFFF;
}

.btn-our-work {
    margin-top: 430px;
    margin-left: 1202px;
    width: 235px;
    height: 68px;
    background: #3693D6 0% 0% no-repeat padding-box;
    border-radius: 34px;
}

.btn-our-work p {
    text-align: center;
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 20px;
}


/* -------------------------------------- Abuout Me Section */

.about-me {
    background: #3693D6 0% 0% no-repeat padding-box;
    background-size: contain;
    margin-top: 0px;
    height: 563px;
    border: 1px solid#3693D6;
}

.about-text {
    text-align: center;
    font: normal normal normal 42px/60px Montserrat;
    color: #FFFFFF;
}


/* ------------------------------------------- Our Work section */

.pictures {
    padding-top: 108px;
    text-align: center;
}

.pictures .our-work-image {
    height: 392px;
    width: 419px;
}

.max-length-image {
    width: 849px;
    height: 392px;
}


/* -------------------------------------------------- Testimonial section */

.userprofile {
    text-align: center;
}

.profile-image {
    width: 265px;
    height: 265px;
    border-radius: 50%;
    text-align: center;
    margin-top: 38px;
}

.userprofile .user-name {
    font-size: 42px;
    font: normal normal normal 42px/52px Montserrat;
    margin-top: 34px;
}

.userprofile .about-user {
    margin-top: 40px;
    font: normal normal normal 32px/60px Montserrat;
}

.userprofile .picture-dots {
    padding: 51px 0px 138px 47%;
}

.userprofile .picture-dots div {
    height: 26px;
    width: 26px;
    float: left;
    margin-left: 13px;
    border-radius: 50%;
}

.userprofile .picture-dots .selected {
    background: #9BC0FF 0% 0% no-repeat padding-box;
}

.userprofile .picture-dots .unselected {
    background: #E2E2E2 0% 0% no-repeat padding-box;
}


/* ------------------------ Features section */

.features-info {
    background: #3693D6;
    height: 754px;
    margin-top: 138px;
    padding-top: 100px;
}

.features .arrow {
    width: 21.47px;
    height: 32.33px;
    float: left;
    background-image: url('../images/arrow.png');
    margin-top: 361px;
    margin-right: 93.53px;
}

.features .arrow img {
    padding-top: 185px;
}

.featuers .arrow-previous {
    margin-right: 78px;
}

.features .arrow-previous img {
    transform: scaleX(-1);
}

.features .arrow-next {
    width: 21.47px;
    height: 32.33px;
    background-image: url('../images/arrow.png');
    float: left;
    margin-left: 87.88px;
    margin-top: 361px;
}

.features-info .features {
    margin-left: 100px;
}

.features .feature {
    width: 336px;
    height: 554px;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 60px;
}

.features .feature img {
    height: 134px;
    width: 176px;
    margin-top: 77px;
    margin-left: 79px;
}

.features .feature-title {
    text-align: center;
    margin-top: 55.91px;
    font: normal normal bold 30px/63px Lato;
    color: #29313E;
}

.features .feature-desc {
    text-align: center;
    margin-top: 27px;
    margin-left: 20px;
    margin-right: 19px;
    height: 179px;
    width: 297px;
    font: normal normal normal 20px/29px Lato;
    color: #29313E;
}

.features .fecture-read-more {
    text-align: center;
    font: normal normal normal 24px/29px Lato;
    letter-spacing: 0px;
    color: #0098da;
}


/* --------------------------------- Send Message */

.send-msg {
    background: #FFFFFF;
    opacity: 1;
    height: 552px;
    width: 1280px;
    margin-top: 90px;
    margin-left: 170px;
}

.send-msg .form {
    width: 1150px;
}

.form .form-caption {
    font: normal normal normal 40px/50px Montserrat;
    color: #151D41;
    text-align: left;
    margin-bottom: 55px;
}

.form input {
    width: 620px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    height: 60px;
    border: 1px solid #151D41;
}

.message-field {
    width: 620px;
    height: 310px;
    margin-bottom: 40px;
    border: 1px solid #151D41;
    border-radius: 5px;
}

.form input[placeholder],
textarea[placeholder] {
    padding-left: 30px;
    color: #fa0cbf;
    font: normal normal normal 18px/22px Montserrat;
}

.btn-send {
    width: 296px;
    height: 68px;
    border-radius: 40px;
    background: #3693D6;
    opacity: 1;
    font: normal normal normal 25px/30px Montserrat;
    margin-top: 119px;
    color: #FFFFFF;
    border: none;
}


/*------------------------------- footer section  */

.footer {
    background: #3693D6;
    color: #FFFFFF;
    height: 297px;
    margin-top: 230px;
}


/* footer logo */

.footer .footer-logo {
    width: 122px;
    height: 58.17px;
    background-image: url('../images/footer-logo.png');
    margin-top: 121px;
    margin-left: 140px;
    float: left;
}

.footer-points {
    float: left;
    margin-left: 150px;
}

.footer-points .footer-titles {
    margin-top: 73px;
}

.footer-titles .title {
    font-size: 32px;
}

.footer-titles .email-title {
    margin: 0px 200px 0px 180px;
}

.footer-points .footer-point-desc {
    margin-top: 28px;
}

.footer-points .footer-point-desc div {
    float: left;
    width: 264px;
    height: 87px;
}

.footer-points .footer-point-desc .email-desc {
    margin: 0px 20px 0px 30px;
}


/* social-network */

.social-netork {
    float: left;
    margin-left: 249px;
}

.social-network .fb-icon {
    height: 19.93px;
    width: 39.86px;
    margin: 130px 0px 0px 0px;
}

.social-network .insta-icon {
    height: 20px;
    width: 40px;
    margin: 130px 39.9px 0px 55.91px;
}

.social-network .youtube-icon {
    height: 20px;
    width: 40px;
    padding: 100px 5px 0px 20px;
}


/* -------------------------------------------------- Common CSS */

.heading-text {
    padding-top: 100px;
    text-align: center;
    font-size: 52px;
    font-family: Montserrat;
    color: #FFFFFF;
}

.blue-text {
    color: #3693D6;
}